<div class="container ">
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="jumbotron">
            <h2 class="text-center color-light ">Task Assigning</h2>

            <br />
            <div class="col-md-4" style="margin-bottom:5px">
                <a class="nav-link btn btn-block btn-primary btn-lg" asp-controller="Task" asp-action="Facebook" asp-route-Id="@ViewBag.Id"><i class="fab fa-facebook-f"></i>facebook</a>
            </div>

            <div class="col-md-4" style="margin-bottom:5px">
                <a class="nav-link btn btn-block btn-primary btn-lg" asp-controller="Task" asp-action="Instagram" asp-route-Id="@ViewBag.Id"><i class="fab fa-instagram"></i> Instagram</a>
            </div>

            <div class="col-md-4">
                <a class="nav-link btn btn-block btn-primary btn-lg" asp-controller="Task" asp-action="LinkedIn" asp-route-Id="@ViewBag.Id">Linked In<i class="fab fa-linkedin"></i></a>
            </div>
            <br />
            <br />
            <br />
        </div>

    </div>
</div>
<br />
<br />