

@{
    ViewData["Title"] = "Time Over";
}
<br />
<br />
<br />
<div class="m-4">
    <div class="jumbotron">
        <h1 style="text-align:center; color:darkred"><b>Task Time Is Over. </b>  </h1>
        <h2 style="text-align:center; color:darkred">Please Finish The Task On Time. </h2>
        <br />
        <br />
        <br />
    </div>

</div>
