

@{
    ViewData["Title"] = "Welcome Page";
}
<br />
<br />
<br />
<div class="m-4">
    <h2 style="text-align:center">Successfully login <b>@ViewBag.Email</b>  </h2>
</div>
<br />
<br />
<br />